@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

body{
    background-color: black;
}

.clock{
    color: #ffffff;  
    text-align: center;
    font-size: 80px;
    font-family: "Bitcount Grid Double";
}