@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Glitch&display=swap');

*{
    color: white;
}

body {
    background: radial-gradient(circle at center, #18191a 0%, #000000 100%);
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url("../assets/gojo_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



.clock {
    position: absolute;
    top: -50px; 
    z-index: 10;
    color: white;
    font-size: 80px;
    font-family: "Rubik Glitch";
    text-shadow: 2px 2px 10px rgb(168, 168, 168);
}

.calendar{
    position: absolute;
    top: 220px; 
    z-index: 10;
    color: white;
    font-size: 70px;
    font-family: "Rubik Glitch";
    text-shadow: 2px 2px 10px rgb(168, 168, 168);
}

.wheater{
    margin: 0;
    position: absolute;
    top: 320px; 
    z-index: 10;
    color: white;
    font-size: 40px;
    font-family: "Rubik Glitch";
    text-shadow: 2px 2px 10px rgb(168, 168, 168);
}

#vazio-infinito{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.particula{
    position: absolute;
    border-radius: 50%;
    background-color: rebeccapurple;
    opacity: 0;
    animation: moverParticula 15s linear infinite;
}

@keyframes moverParticula {
    0%{
        transform: scale(0) translate(0, 0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100%{
        transform: scale(2) translate(var(--x), var(--y));
        opacity: 0;
    }
}